.join-tg-section {
  min-height: 100%;

  .time-counter {
    color: map-get($map: $pcs, $key: '100');
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 207.143%;
    letter-spacing: -0.42px;

    @include xl {
      font-size: 26px;
    }

    @include md {
      font-size: 20px;
    }
  }
}